In [1]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.max_columns = None

import json

In [2]:
df = pd.read_csv('DataScience_CaseStudy_DataSet.csv')

In [3]:
def parse_transaction_info(txns):
    txns = json.loads(txns.replace("\'", "\""))
    return txns
    
df['transaction_info_json'] = df['transaction_info'].apply(parse_transaction_info)

#### Transaction info column is in json format. First we parse json data and generate article, salesquantity and price columns. We will save the final dataframe for quick access.

In [5]:
df_parsed = pd.DataFrame(columns=['csn', 'date', 'article', 'salesquantity', 'price'])

for x in range(len(df)):
    if x%1000==0:
        print(x)
        
    json_list = df.loc[x, 'transaction_info_json']
    for idx, item in enumerate(json_list):
        row = pd.DataFrame({
                          'csn': df.loc[x, 'csn'],
                          'date': df.loc[x, 'date'],
                          'article': item['article'], 
                          'salesquantity': item['salesquantity'], 
                          'price': item['price']
                          }, index=[x + idx])
        df_parsed = pd.concat([df_parsed, row])
        
df_parsed.head(10)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000

            csn        date   article  salesquantity     price
0  Y2NgaWJoYw==  2018-03-02  10020163            2.0   18250.0
1  Y2NgaWJoYw==  2018-03-04  10026562            3.0   13000.0
2  Y2NgaWJoYw==  2018-03-04  10320883            2.0   43000.0
2  Y2NgaWlpYA==  2018-02-27  10013531            1.0   17800.0
3  Y2NgaWlpYA==  2018-02-27  10015613            1.0    5600.0
4  Y2NgaWlpYA==  2018-02-27  10320578            1.0    5600.0
5  Y2NgaWlpYA==  2018-02-27  10005247            4.0    6000.0
6  Y2NgaWlpYA==  2018-02-27  10319762            1.0  228000.0
7  Y2NgaWlpYA==  2018-02-27  10005236            4.0   13325.0
8  Y2NgaWlpYA==  2018-02-27  10005249            4.0    6200.0

In [6]:
df_parsed.to_csv('store_transactions.csv')